
body {
    background-color: white;
}

.header{
    background-color: #90ccf4;
}

#searchButton{
    background-color: #f3d250;
}

.popupButtonMessage{
    background-color: #f3d250;
}

.footer{
    background-color: #90ccf4;
}

/* Example colors on html */

#header1{
     background-color: #90ccf4;
}

#body1{
    background-color: #ececec;
}

#searchButton1{
    background-color: #f3d250;
}

#popupButtonMessage1{
    background-color: #f3d250;
}

#footer1{
    background-color: #90ccf4;
}